{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Spice-EX</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Google fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700&amp;display=swap">
    <!-- Modal Video-->
    <link rel="stylesheet" href="{% static 'vendor/modal-video/css/modal-video.min.css' %}">
    <!-- Leaflet-->
    <link rel="stylesheet" href="{% static 'vendor/leaflet/leaflet.css' %}">
    <!-- Swiper slider-->
    <link rel="stylesheet" href="{% static 'vendor/swiper/swiper-bundle.min.css' %}">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{% static 'css/style.default.css' %}" id="theme-stylesheet' %}">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'img/logo1.jpg' %}">
  </head>
  <body>
    <!-- navbar-->
    <header class="header">
      <div class="top-bar bg-dark text-white">
        <div class="container">
          <div class="row gx-0">
            <!-- <div class="col-lg-4 bg-primary py-2 text-center text-lg-start d-none d-lg-flex align-items-center">
              <p class="mb-0 text-sm"><i class="fas fa-clock me-2"></i>Opening hours: Mon - Sat 9:00 - 18:00</p>
            </div> -->
            <div class="col-lg-8 text-end py-2 text-center text-lg-end">
              <ul class="list-inline mb-0">
                <li class="list-inline-item"><a class="fw-normal text-sm reset-anchor" href="#!"><i class="fas fa-mobile me-2"></i>+91 9496448703  +91 8921593703  +91 9961211543</a></li>
                <li class="list-inline-item">|</li>
                <li class="list-inline-item"><a class="fw-normal text-sm reset-anchor" href="#!"><i class="fas fa-envelope me-2"></i>spiceexindia@gmail.com</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-expand-lg navbar-light py-3 bg-white shadow-sm">
        <div class="container"><a class="navbar-brand" href="index.html"><img src="{% static 'img/logo1.jpg' %}" alt="" width="200"></a>
          <button class="navbar-toggler navbar-toggler-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto align-items-lg-center">
              <li class="nav-item mx-2">
                <!-- Link--><a class="nav-link text-uppercase active" href="index.html">Home</a>
              </li>
              <li class="nav-item mx-2">
                <!-- Link--><a class="nav-link text-uppercase" href="{% url 'main:about' %}">About</a>
              </li>
              <li class="nav-item mx-2">
                            <a class="nav-link text-uppercase" href="{% url 'main:certificate' %}">Certifications</a>
              </li>
              <li class="nav-item ms-2 dropdown"><a class="nav-link text-uppercase dropdown-toggle pe-0" id="navbarDropdownMenuLink" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                <div class="dropdown-menu mt-lg-4 text-sm" aria-labelledby="navbarDropdownMenuLink"><a class="dropdown-item" href="{% url 'main:home' %}">Home</a><a class="dropdown-item" href="{% url 'main:about' %}">About</a><a class="dropdown-item" href="{% url 'main:certificate' %}">Certifications                </a></div>
              </li>
              <li class="nav-item ms-lg-3 ps-lg-3"><a class="btn btn-outline-primary btn-sm" href="{% url 'main:contact' %}">Request a quote</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!-- Hero Slider -->
    <section>
      <div class="swiper hero-slider">
        <div class="swiper-wrapper">
          <!-- Hero Slide-->
          <div class="swiper-slide hero-slide bg-size bg-center py-5" style="background: url({% static 'img/cardomom11.jpeg' %})">
            <div class="container text-white py-5 index-forward">
              <div class="row">
                <div class="col-lg-7">
                  <h1>Ignite Your Senses: Where Flavor Meets Adventure</h1>
                  <!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p> -->
                  <ul class="list-inline">
                    <!-- <li class="list-inline-item me-0"><a class="btn btn-primary" href="#!">Read More</a></li>
                    <li class="list-inline-item"></li><a class="btn btn-outline-light" href="#!">Our company</a> -->
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- Hero Slide-->
          <div class="swiper-slide hero-slide bg-size bg-center py-5" style="background: url({% static 'img/cardomom33.webp' %})">
            <div class="container text-white py-5 index-forward">
              <div class="row">
                <div class="col-lg-7">
                  <h1>Spice up Your Life with a Symphony of Flavors</h1>
                  <!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p> -->
                  <ul class="list-inline">
                    <!-- <li class="list-inline-item me-0"><a class="btn btn-primary" href="#!">Read More</a></li>
                    <li class="list-inline-item"></li><a class="btn btn-outline-light" href="#!">Our company</a> -->
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- Hero Slide-->
          <div class="swiper-slide hero-slide bg-size bg-center py-5" style="background: url({% static 'img/cardomom22.webp' %})">
            <div class="container text-white py-5 index-forward">
              <div class="row">
                <div class="col-lg-7">
                  <h1>Crafting Culinary Experiences, One Spice at a Time</h1>
                  <!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p> -->
                  <!-- <ul class="list-inline">
                    <li class="list-inline-item me-0"><a class="btn btn-primary" href="#!">Read More</a></li>
                    <li class="list-inline-item"></li><a class="btn btn-outline-light" href="#!">Our company</a>
                  </ul> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-button-next swiper-nav-custom d-none d-lg-block"></div>
        <div class="swiper-button-prev swiper-nav-custom d-none d-lg-block"></div>
        <div class="swiper-pagination py-3 d-block d-lg-none"></div>
      </div>
    </section>
    <!-- Features Section -->
    <section class="py-5 bg-light">
      <div class="container py-5">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1">
            <p class="h6 mb-1 text-uppercase text-primary mb-3">WHY CHOOSE US</p>
            <h2 class="mb-4">Our Specialities</h2>
            <p class="text-sm text-muted">Quality, trust, expertise in processing and farming, pioneers in farming and trading award winners</p>
            <ul class="list-check list-unstyled row px-3 mb-4 gy-2">
              <li class="text-sm text-muted col-lg-6">EXPORTERS FIRST CHOICE</li>
              <p class="text-sm text-muted">We are one of the top 10 suppliers of green cardamom in India</p>

              <li class="text-sm text-muted col-lg-6">MOSTLY SOURCED FROM FARMERS</li>
              <p class="text-sm text-muted">We are one of the largest collecters of the unprocessed cardomom from the farmers.</p>

              <li class="text-sm text-muted col-lg-6">FINEST CARDOMOM</li>
              <p class="text-sm text-muted">We provide the finest quality of green cardamom available in the market within the most affordable rates.</p>

              <li class="text-sm text-muted col-lg-6">HANDPICKED AND PROGRESSED</li>
              <p class="text-sm text-muted">Our cardamom is meticulously sourced and handpicked for the premium quality.</p>

              <!-- <li class="text-sm text-muted col-lg-6">Acquire live chat enables sales</li>
              <li class="text-sm text-muted col-lg-6">Learn from customer feedback</li> -->
            </ul>
            <!-- <ul class="list-inline py-4 border-top border-bottom d-flex align-items-center">
              <li class="list-inline-item pr-4 mr-0"><img src="{% static 'img/about-sign.png' %}" alt="" width="80"></li>
              <li class="list-inline-item px-4 mr-0 border-left">
                <h5 class="mb-0">Jack Foxx</h5>
                <p class="small font-weight-normal text-muted mb-0">Chairnan and founder </p>
              </li>
              <li class="list-inline-item pl-4 border-left">
                <h5 class="mb-0">+420 754 6545 6564</h5>
                <p class="small font-weight-normal text-muted mb-0">Call to ask any question</p>
              </li>
            </ul> -->
          </div>
          <div class="col-lg-5 ms-auto mb-4 mb-lg-0 order-1 order-lg-2">
            <div class="p-2 border"><img class="img-fluid" src="{% static 'img/export.jpg' %}" alt=""style="height:450px; width:500px;"></div>
          </div>
        </div>
      </div>
    </section>
    <!-- Services Section -->
    <section class="py-5">
      <div class="container py-5 text-center">
        <header class="mb-5">
          <div class="row">
            <div class="col-lg-7 mx-auto">
              <p class="h6 text-uppercase text-primary mb-0">Proud Moments</p>
              <h2>Awards</h2>
            </div>
          </div>
        </header>
        <div class="row align-items-stretch gy-4">
          <div class="col-lg-4 col-md-6">
            <div class="px-4 py-5 border border-2 border-dash h-100">
              <svg class="svg-icon mb-4 text-primary svg-icon-light svg-icon-big">
                <use xlink:href="#laptop-screen-1"> </use>
              </svg>
              <h3 class="h5">NIF AWARD</h3>
              <p class="text-sm mb-0 text-muted">Our farm developed punnathanam nutmeg which got
                prestigious 8th national innovation foundation awards
                from the former president of India Sri Pranav Mukharji
                in 2015</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="px-4 py-5 border border-2 border-dash h-100">
              <svg class="svg-icon mb-4 text-primary svg-icon-light svg-icon-big">
                <use xlink:href="#quality-1"> </use>
              </svg>
              <h3 class="h5">WARD FROM KAU</h3>
              <p class="text-sm mb-0 text-muted">Best nutmeg variety award from Kerala agriculture
                University in 2017</p>
            </div>
          </div>
          <!-- <div class="col-lg-4 col-md-6">
            <div class="px-4 py-5 border border-2 border-dash h-100">
              <svg class="svg-icon mb-4 text-primary svg-icon-light svg-icon-big">
                <use xlink:href="#survey-1"> </use>
              </svg>
              <h3 class="h5">Organization &amp; Decision Process</h3>
              <p class="text-sm mb-0 text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="px-4 py-5 border border-2 border-dash h-100">
              <svg class="svg-icon mb-4 text-primary svg-icon-light svg-icon-big">
                <use xlink:href="#pie-chart-1"> </use>
              </svg>
              <h3 class="h5">Decision &amp; Risk Analytic</h3>
              <p class="text-sm mb-0 text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="px-4 py-5 border border-2 border-dash h-100">
              <svg class="svg-icon mb-4 text-primary svg-icon-light svg-icon-big">
                <use xlink:href="#pay-1"> </use>
              </svg>
              <h3 class="h5">Banking &amp; Capital Markets</h3>
              <p class="text-sm mb-0 text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="px-4 py-5 border border-2 border-dash h-100">
              <svg class="svg-icon mb-4 text-primary svg-icon-light svg-icon-big">
                <use xlink:href="#stack-1"> </use>
              </svg>
              <h3 class="h5">Modern &amp; Tribe Workplace</h3>
              <p class="text-sm mb-0 text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>
          </div> -->
        </div>
      </div>
    </section>
    <!-- Divider Section -->
    <!-- <section class="bg-cover bg-center" style="background: url({% static 'img/hero-banner-2.jpg' %})">
      <div class="primary-overlay py-5">
        <div class="overlay-content">
          <div class="container">
            <div class="row align-items-center gy-4">
              <div class="col-lg-7 text-center text-lg-start">
                <h2 class="text-white mb-2">You Always Get the Best Guidance</h2>
                <p class="text-white mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
              <div class="col-lg-3 ms-auto text-center text-lg-end"><a class="btn btn-outline-light" href="#!">Request a quote</a></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    Features Section
    <!-- <section class="py-5 bg-light">
      <div class="container py-5">
        <div class="row align-items-center gx-lg-0">
          <div class="col-lg-5">
            <div class="bg-primary pe-lg-3"><img class="img-fluid w-100" src="{% static 'img/feature-img.jpg' %}" alt=""></div>
          </div>
          <div class="col-lg-7">
            <div class="p-4 p-md-5 shadow bg-white">
              <p class="h6 mb-1 text-uppercase text-primary mb-3">Why choose us</p>
              <h2 class="mb-5">We Provide Experts To Create A Great Value For Your Business</h2>
              <div class="row">
                <div class="col-lg-9">
                  <ol class="list-numbers mb-0">
                    <li class="mb-4">
                      <h5>We modify whole system</h5>
                      <p class="text-sm text-muted">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat. </p>
                    </li>
                    <li class="mb-4">
                      <h5>Safeguard for Your Business</h5>
                      <p class="text-sm text-muted">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat. </p>
                    </li>
                    <li class="mb-4">
                      <h5>Beneficial Strategies</h5>
                      <p class="text-sm text-muted">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat. </p>
                    </li>
                    <li>
                      <h5>Build Solid Human Resource</h5>
                      <p class="text-sm text-muted">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat. </p>
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    Video Section
    <!-- <section class="bg-center bg-cover" style="background: url({% static 'img/hero-banner-3.jpg' %})">
      <div class="dark-overlay py-5">
        <div class="overlay-content text-white">
          <div class="container py-5">
            <header class="text-center">
              <div class="row">
                <div class="col-lg-9 mx-auto">
                  <button class="video-btn mb-5" type="button" data-video-id="NOG3eus4ZSo"><i class="fas fa-play"></i></button>
                  <p class="h6 mb-1 text-uppercase text-primary mb-3">We make a difference</p>
                  <h2 class="h1 mb-5">The Best Solutions For Developing Your Business</h2><a class="btn btn-primary" href="#!">View more services</a>
                </div> -->
              </div>
            </header>
          </div>
        </div>
      </div>
    </section> -->
    <!-- Testimonials Section-->
    <!-- <section class="py-5">
      <div class="container py-5">
        <p class="h6 mb-1 text-uppercase text-primary mb-3">Our clients say</p>
        <div class="row mb-5">
          <div class="col-lg-5">
            <h2 class="mb-5">The Best Solutions For Developing Your Business</h2>
          </div>
          <div class="col-lg-7">
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <div class="swiper testimonials-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide p-3">
              <div class="testimonial p-5 shadow-sm mb-5">
                <div class="d-flex align-items-center mb-4">
                  <div class="testimonial-img flex-shrink-0"><img class="img-fluid rounded-circle" src="{% static 'img/person-1.jpg' %}" alt=""></div>
                  <div class="ms-4">
                    <h5 class="mb-0">Rodel Colez</h5>
                    <p class="small text-muted mb-1">Businessman</p>
                    <ul class="small list-inline text-primary mb-0">
                      <li class="list-inline-item m-0"><i class="fas fa-star"></i></li>
                      <li class="list-inline-item m-0 1"><i class="fas fa-star"></i></li>
                      <li class="list-inline-item m-0 2"><i class="fas fa-star"></i></li>
                      <li class="list-inline-item m-0 3"><i class="fas fa-star"></i></li>
                      <li class="list-inline-item m-0 4"><i class="fas fa-star"></i></li>
                    </ul>
                  </div>
                </div>
                <p class="text-muted text-sm mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.   </p>
              </div>
            </div>
            <div class="swiper-slide p-3">
              <div class="testimonial p-5 shadow-sm mb-5">
                <div class="d-flex align-items-center mb-4">
                  <div class="testimonial-img flex-shrink-0"><img class="img-fluid rounded-circle" src="{% static 'img/person-2.jpg' %}" alt=""></div>
                  <div class="ms-4">
                    <h5 class="mb-0">Mark Huff</h5>
                    <p class="small text-muted mb-1">Businessman</p>
                    <ul class="small list-inline text-primary mb-0">
                      <li class="list-inline-item m-0"><i class="fas fa-star"></i></li>
                      <li class="list-inline-item m-0 1"><i class="fas fa-star"></i></li>
                      <li class="list-inline-item m-0 2"><i class="fas fa-star"></i></li>
                      <li class="list-inline-item m-0 3"><i class="fas fa-star"></i></li>
                      <li class="list-inline-item m-0 4"><i class="fas fa-star"></i></li>
                    </ul>
                  </div>
                </div> -->
                <!-- <p class="text-muted text-sm mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.   </p>
              </div>
            </div>
            <div class="swiper-slide p-3">
              <div class="testimonial p-5 shadow-sm mb-5">
                <div class="d-flex align-items-center mb-4">
                  <div class="testimonial-img flex-shrink-0"><img class="img-fluid rounded-circle" src="{% static 'img/person-1.jpg' %}" alt=""></div>
                  <div class="ms-4">
                    <h5 class="mb-0">Rodel Colez</h5>
                    <p class="small text-muted mb-1">Businessman</p>
                    <ul class="small list-inline text-primary mb-0">
                      <li class="list-inline-item m-0"><i class="fas fa-star"></i></li>
                      <li class="list-inline-item m-0 1"><i class="fas fa-star"></i></li>
                      <li class="list-inline-item m-0 2"><i class="fas fa-star"></i></li>
                      <li class="list-inline-item m-0 3"><i class="fas fa-star"></i></li>
                      <li class="list-inline-item m-0 4"><i class="fas fa-star"></i></li>
                    </ul>
                  </div>
                </div>
                <p class="text-muted text-sm mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.   </p>
              </div>
            </div>
            <div class="swiper-slide p-3">
              <div class="testimonial p-5 shadow-sm mb-5">
                <div class="d-flex align-items-center mb-4">
                  <div class="testimonial-img flex-shrink-0"><img class="img-fluid rounded-circle" src="{% static 'img/person-1.jpg' %}" alt=""></div>
                  <div class="ms-4">
                    <h5 class="mb-0">Rodel Colez</h5>
                    <p class="small text-muted mb-1">Businessman</p>
                    <ul class="small list-inline text-primary mb-0">
                      <li class="list-inline-item m-0"><i class="fas fa-star"></i></li>
                      <li class="list-inline-item m-0 1"><i class="fas fa-star"></i></li>
                      <li class="list-inline-item m-0 2"><i class="fas fa-star"></i></li>
                      <li class="list-inline-item m-0 3"><i class="fas fa-star"></i></li>
                      <li class="list-inline-item m-0 4"><i class="fas fa-star"></i></li>
                    </ul>
                  </div>
                </div>
                <p class="text-muted text-sm mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.   </p>
              </div>
            </div>
          </div>
          <div class="swiper-pagination">                               </div>
        </div>
      </div>
    </section>
    <footer class="bg-dark" style="height:200px;">
      <div class="bg-primary py-5 text-white">
        <div class="container">
          <div class="row gy-4">
            <div class="col-lg-3 col-md-6">
              <div class="d-flex align-items-center">
                <h6 class="h1 mb-0">705</h6>
                <p class="ms-3 flex-grow-1 text-uppercase mb-0">Projects completed </p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="d-flex align-items-center">
                <h6 class="h1 mb-0">809</h6>
                <p class="ms-3 flex-grow-1 text-uppercase mb-0">Satisfied customers </p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="d-flex align-items-center">
                <h6 class="h1 mb-0">354</h6>
                <p class="ms-3 flex-grow-1 text-uppercase mb-0">Awards recieved </p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="d-flex align-items-center">
                <h6 class="h1 mb-0">25</h6>
                <p class="ms-3 flex-grow-1 text-uppercase mb-0">Years experience </p>
              </div> -->
            <!-- </div> --> -->
          </div>
        </div>
      </div>
      <div class="bg-dark py-5 text-white">
        <div class="container">
          <div class="row py-5">
            <div class="col-lg-4 col-md-6"><img class="mb-4" src="{% static 'img/logo1.jpg' %}" alt="" width="200">
              <p class="text-muted text-sm mb-4">Memories Made With Spices</p>
              <p class="mb-1"><i class="fas me-3 text-primary fa-fw fa-envelope"></i><span class="text-sm text-muted">support@spiceex.in</span></p>
              <p class="mb-1"><i class="fas me-3 text-primary fa-fw fa-mobile"></i><span class="text-sm text-muted">+91 9496448703  +91 8921593703  +91 9961211543</span></p>
              <!-- <p class="mb-1"><i class="fas me-3 text-primary fa-fw fa-map-marker-alt"></i><span class="text-sm text-muted">1798 Pretty View Lane, California</span></p> -->
            </div>
            <!-- <div class="col-lg-2 col-md-6">
              <h5 class="mt-3 mb-4 fw-normal">Quick links</h5>
              <ul class="list-unstyled">
                <li class="mb-2"><a class="footer-link" href="#!">Home</a></li>
                <li class="mb-2"><a class="footer-link" href="#!">About</a></li>
                <li class="mb-2"><a class="footer-link" href="#!">Services</a></li>
                <li class="mb-2"><a class="footer-link" href="#!">Contacts</a></li>
                <li class="mb-2"><a class="footer-link" href="#!">Pages</a></li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-6">
              <h5 class="mt-3 mb-4 fw-normal">Our services</h5>
              <ul class="list-unstyled">
                <li class="mb-2"><a class="footer-link" href="#!">Make Appointment</a></li>
                <li class="mb-2"><a class="footer-link" href="#!">Customer Services</a></li>
                <li class="mb-2"><a class="footer-link" href="#!">Department Service</a></li>
                <li class="mb-2"><a class="footer-link" href="#!">Our Case Studies</a></li>
                <li class="mb-2"><a class="footer-link" href="#!">Free Consultation</a></li>
                <li class="mb-2"><a class="footer-link" href="#!">Meet Our Experts</a></li>
              </ul>
            </div>
            <div class="col-lg-4 col-md-6">
              <h5 class="mt-3 mb-4 fw-normal">Latest news</h5>
              <ul class="list-unstyled mb-0">
                <li class="d-flex mb-4">
                  <div class="flex-shrink-0"><img src="{% static 'img/blog-thumb-1.jpg' %}" alt="" width="60"></div>
                  <div class="ms-3">
                    <p class="small text-muted mb-0">May 01, 2019 </p>
                    <h6 class="text-light fw-normal mb-0">Successful Growth In Business 2018</h6><a class="reset-anchor text-primary text-sm" href="#!">Read more<i class="fas fa-angle-right ms-2"></i></a>
                  </div>
                </li>
                <li class="d-flex">
                  <div class="flex-shrink-0"><img src="{% static 'img/blog-thumb-2.jpg' %}" alt="" width="60"></div>
                  <div class="ms-3">
                    <p class="small text-muted mb-0">May 01, 2019 </p>
                    <h6 class="text-light fw-normal mb-0">Successful Growth In Business 2018</h6><a class="reset-anchor text-primary text-sm" href="#!">Read more<i class="fas fa-angle-right ms-2"></i></a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-darker py-4">
        <div class="container text-center">
          You are completely free to use this template for your personal use or as a work for your client as long as you keep the link at the template footer pointing to our partner and us.-->
          <!-- If you would prefer removing the backlink from the theme footer, please purchase the attribution-free license at the theme page at https://bootstrapious.com/attribution-free-license.-->
          <!-- <p class="mb-0 text-muted text-sm">&copy; All rights reserved. Template designed by <a href="https://bootstrapious.com/p/consulting-bootstrap-template">Bootstrapious</a>. </p> -->
        </div>
      </div>
    </footer>
    <!-- <button class="btn btn-primary btn-sm d-none d-lg-inline-block" type="button" data-bs-toggle="collapse" data-bs-target="#style-switch" id="style-switch-button"><i class="fa fa-cog fa-2x"></i></button>
    <div class="collapse" id="style-switch">
      <h5>Select theme colour</h5>
      <form class="mb-3">
        <select class="form-select" name="colour" id="colour">
          <option value="">select colour variant</option>
          <option value="css/style.default.css">red</option>
          <option value="css/style.pink.css">pink</option>
          <option value="css/style.green.css">green</option>
          <option value="css/style.violet.css">violet</option>
          <option value="css/style.sea.css">sea</option>
          <option value="css/style.blue.css">blue</option>
        </select>
      </form> -->
      <!-- <p><img class="img-fluid" src="{% static 'img/template-mac.png' %}" alt=""></p>
      <p class="text-muted text-sm">Stylesheet switching is done via JavaScript and can cause a blink while page loads. This will not happen in your production code.</p> -->
    </div>
    <!-- JavaScript files-->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'vendor/modal-video/js/modal-video.js' %}"></script>
    <script src="{% static 'vendor/leaflet/leaflet.js' %}"></script>
    <script src="{% static 'js/front.js' %}"></script>
    <script>
      // ------------------------------------------------------- //
      //   Inject SVG Sprite - 
      //   see more here 
      //   https://css-tricks.com/ajaxing-svg-sprite/
      // ------------------------------------------------------ //
      function injectSvgSprite(path) {
      
          var ajax = new XMLHttpRequest();
          ajax.open("GET", path, true);
          ajax.send();
          ajax.onload = function(e) {
          var div = document.createElement("div");
          div.className = 'd-none';
          div.innerHTML = ajax.responseText;
          document.body.insertBefore(div, document.body.childNodes[0]);
          }
      }
      // this is set to BootstrapTemple website as you cannot 
      // inject local SVG sprite (using only 'icons/orion-svg-sprite.svg' path)
      // while using file:// protocol
      // pls don't forget to change to your domain :)
      injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg'); 
      
    </script>
    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </body>
</html>